/* Importation de la police Poppins depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Réinitialisation et styles de base */
body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #00171F;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles d'en-tête */
.header, .page-header {
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: #B4C4AE;
    font-size: 45px;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 20px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
}

.content, .page-content {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
    padding-top: 30px;
}

.answer {
    border-radius: 10px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.text_role {
    color: #B4C4AE;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    width: 100%;
}

.gros_role {
    color: #FF4000;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.bulle_question {
    color: #333;
    background-color: #fff;
    margin-bottom: 0px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    align-items: center;
}

div.div_question {
    width: 100%; /* Ajuste selon la largeur désirée pour le formulaire */
    max-width: 400px; /* Pour ne pas devenir trop large sur les grands écrans */
}

.role {
    color: #4F7CAC;
    font-size: 40px;
}

/* Boutons et inputs */
button, input[type="submit"], button1, .reset {
    background-color: #4F7CAC;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 20px;
    margin-top:30px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}


button:hover, input[type="submit"]:hover, button1:hover {
    background-color: #2a68ab;
}

button1 {
    font-size: 25px;
    width: 75%;
}

.bouton_question, .reset {
    background-color: #414141;
    font-size: 15px; /* Adjusted for .reset, override for .bouton_question */
    padding: 12px; /* Adjusted for .reset, override for .bouton_question */
}

div.name_form {
    width: 90%; /* Ajuste selon la largeur désirée pour le formulaire */
    max-width: 400px; /* Pour ne pas devenir trop large sur les grands écrans */
}

input[type="text"] {
    width: calc(100% - 30px); /* Ajuste la largeur pour tenir compte du padding */
    padding: 15px;
    margin: 10px 0; /* Ajusté pour enlever la marge gauche spécifique */
    border-radius: 10px;
    border: none;
    display: block; /* Change en 'block' pour remplir la largeur du conteneur form */
}

/* Liste des joueurs */
ul, .joueurs-liste {
    padding: 25px;
    list-style: none;
    text-align: center;
    font-weight: bolder;
}

li, .joueurs-liste li {
    background: #f0f0f0;
    color: #333;
    margin-bottom: 8px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

.joueurs-liste li {
    font-weight: bold;
}

/* Pied de page */
.footer {
    text-align: center;
    padding-bottom: 20px;
}

/* Divers */
.text_tricheur, .message_erreur {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.text_centre{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.message_erreur {
    color: #ff0000;
}

p {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

button.bouton_retourne {
    background-color: #4F7CAC;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 20px;
    margin-top:15px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #263238;
  }
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
  } 
