<!DOCTYPE html>
<html lang="fr">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    const socket = io.connect("http://192.168.2.39:2827");
    socket.on('Joueur en attente', function() {
        window.location.href = '/salle_attente';
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>Rejoindre la partie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Fish and cheat</h1>
    <form method="post">
        <label for="nom">Entrez votre nom :</label>
            <input type="text" id="nom" name="nom" required>
        <button type="submit">Rejoindre</button>
    </form>
    {% if message == True %}
    <p class="message_erreur">Ce joueur n'existe pas dans la partie, veuillez entrer un autre nom ou créer une nouvelle partie</p>
    {% else %}
    <p></p>
    {% endif %}
    <p></p>
    {% if nbattente == 0 %}
    <form id='nouvelle_partie' action="{{ url_for('reset') }} " method="POST"><button class="reset" type="submit">Créer une nouvelle partie</button></form>
    {% endif %}
</body>
</html>
