<!DOCTYPE html>
<html lang="fr">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    const socket = io.connect("https://game.ebourque.com");
    socket.on('Tricheur revélé', function() {
        window.location.href = '/resultat';
    });
    socket.on('Nouvelle question', function() {
        window.location.href = '/partie';
    });
    socket.on('Joueur retourne', function() {
        window.location.href = '/partie';
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>Partie en cours</title>
    <meta name="viewport" content="initial-scale=0.7">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function verifierJoueur(nom) {
            fetch('/verifier_joueur/' + nom, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    } else {
                        alert(`${nom} n'est pas le tricheur!`);
                    }
                })
                .catch(error => console.error('Erreur:', error));
        }
    </script>
</head>
<body>
    <h1 class="page-header">Round {{ round_number + 1}}</h1>
    <p class="text_role">Rôle :  <span class='gros_role'>{{ role }}</span></p>
    {% if question %}
        <div class='div_question'>
            <p class="bulle_question">{{ question['question'].replace('&quot;', '"').replace('&#039;', "'") }}</p>
            {% if role != 'Lecteur' %}
                <p class="answer">Réponse : {{ question['correct_answer'] }}</p>
            {% endif %}
        </div>
    {% endif %}
    {% if role == 'Lecteur' %}
    <form action="{{ url_for('nouvelle_question') }}" method="post">
        <button class="bouton_question" type="submit">Obtenir une nouvelle question</button>
    </form>
    <p></p>
    <p class="text_tricheur">Joueurs :</p>
    <div class="joueurs-buttons">
        {% for joueur, joueur_role in roles.items() %}
            {% if joueur != nom_joueur %}
                <button class='bouton_retourne' onclick="verifierJoueur('{{ joueur }}')">{{ joueur }}</button>
            {% endif %}
        {% endfor %}
    </div>
    <p></p>
    {% endif %}
</body>
</html>
