<!DOCTYPE html>
<html lang="fr">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    const socket = io.connect("http://192.168.2.39:2827");
    socket.on('Nouvelle round', function() {
        location.reload();
    });
    socket.on('Nouvelle partie', function() {
        window.location.href = '/';
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>Résultats de la Partie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="result-container">
        <h1>Résultats de la Partie</h1>
        <p>Le tricheur était : {{ tricheur }}</p>
        {% if points[session['nom']] != 0 %}
            <p class=text_centre>Vous avez {{ points[session['nom']] }} points</p>
        {% else %}
            <p class=text_centre>Vous avez 0 points</p>
        {% endif %}
        <div></div>
        <form action="{{ url_for('salle_attente') }}" method="get">
            <button type="submit">Prochaine round</button>
        </form>
        <p></p>
        <p></p>
    </div>
    <form action="{{ url_for('reset') }} " method="POST">
        <button class="reset" type="submit">Créer une nouvelle partie</button>
    </form>
</body>
</html>
