<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salle d'attente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Salle d'attente</h1>
        <section>
            <h2>Liste des joueurs :</h2>
            <ul>
                {% for joueur in joueurs %}
                <li>{{ joueur }}</li>
                {% endfor %}
            </ul>
        </section>
        {% if joueur_session == premier_joueur %}
        <div>
            <form action="{{ url_for('lancer_jeu') }}" method="post">
                <button type="submit" class="start-game">Démarrer la partie</button>
            </form>
        </div>
        {% else %}
        <p>En attente du début de la partie...</p>
        {% endif %}
        {% if joueurs_en_attente != nbjoueurs %}
        <p class="message_erreur">Veuillez attendre que tous les joueurs aient rejoint la salle d'attente.</p>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const socket = io.connect("http://192.168.2.39:2827");
        socket.on('Partie commencée', function() {
            window.location.href = '/partie';
        });
    </script>
</body>
</html>
