<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Salle d'attente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <div class="salle-attente-container">
        <div class="joueurs-liste">
            <h1>Salle d'attente</h1>
            <p>Liste des joueurs :</p>
            <ul>
                {% for joueur in joueurs %}
                    <li>{{ joueur }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if joueur_session == premier_joueur %}
            <div class="footer">
                <form action="{{ url_for('lancer_jeu') }}" method="post">
                    <button type="submit">Démarrer la partie</button>
                </form>
            </div>
        {% else %}
            <p>En attente du début de la partie...</p>
        {% endif %}
    </div>
</body>
</html>
